
<!-- sidebar.html -->
<div class="containerGauche">
  <div class="up">
    <h1><img id="iconsEtab" src="/icons/school-solid.svg" alt="">Mon Etab</h1>
    <div class="separateur"></div>
    <hr>
    <ul>
      <li><img src="/fontawesome/svgs/solid/square-poll-horizontal.svg" alt=""><a th:href="@{/dashboard}">Tableau de bord</a></li>
      <li><img src="/fontawesome/svgs/solid/user-large-slash.svg" alt=""><a th:href="@{/student}">Élèves</a></li>
      <li><img src="/fontawesome/svgs/solid/person-chalkboard.svg" alt=""><a th:href="@{/teacher}">Professeurs</a></li>
      <li><img src="/fontawesome/svgs/solid/user.svg" alt=""><a th:href="@{/user}">Utilisateurs</a></li>
      <li><img src="/fontawesome/svgs/solid/chart-pie.svg" alt=""><a th:href="@{/report}">Rapport</a></li>
    </ul>
  </div>
  <div class="separateur" id="separateur"></div>
  <ul>
    <li id="logout"><img src="/fontawesome/svgs/solid/right-from-bracket.svg" alt="">Déconnexion</li>
  </ul>
</div>
